<html>
  <head>
    <title>BackboneJS Tests</title>
    <meta http-equiv="Content-Type"
      content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

    <link rel="stylesheet" type="text/css" href="../static/js/test/lib/css/mocha.css">
    <script src="../static/js/test/lib/js/mocha.js"></script>
    <script src="../static/js/test/lib/js/chai.js"></script>
    <script src="../static/js/test/lib/js/sinon.js"></script>

    <script>
      // Setup.
      var expect = chai.expect;
      mocha.setup("bdd");

      // Run tests on window load event
      window.onload = function () {
        mocha.run();
      };
    </script>

  </head>
  <body>
    <div id="mocha"></div>
    <script src="../static/js/test/spec/hello.spec.js"></script>
  </body>
</html>